html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

canvas {
    display: block;
    border: 5px black solid;
    border-radius: .5px;
    box-shadow: 4px 6px black;
}

#container{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100%;
    
}